### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [91]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [92]:
name = purchase_data['SN']
unique_players = name.unique()

players_count = len(unique_players)

players_count_summary = [{'Total Players': players_count}]

players_df = pd.DataFrame(players_count_summary)
players_df

#displaying column names
#purchase_data.columns

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [93]:
#unique items (179)
unique_items = purchase_data['Item Name'].unique()
unique_items_count = len(unique_items)
unique_items_count

#average price ($3.05)
price = purchase_data['Price']
average_price = sum(price)/len(price)
average_price_rounded = np.round(average_price, decimals = 2)
average_price_rounded

#number of purchases(780)
number_of_purchases = len(name)

#total revenue ($2379.77)
revenue = sum(price)
revenue_rounded = np.round(revenue, decimals = 2)
revenue_rounded

#create summary table
purchasing_summary = [{'Number of Unique Items': unique_items_count, 
                       'Average Price': average_price_rounded,
                        'Number of Purchases': number_of_purchases,
                        'Total Revenue': revenue_rounded}]

purchasing_df = pd.DataFrame(purchasing_summary)
purchasing_df

#format summary table
purchasing_df['Average Price']= purchasing_df['Average Price'].map("${:,.2f}".format)
purchasing_df['Total Revenue']= purchasing_df['Total Revenue'].map("${:,.2f}".format)
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [94]:
#create df for unique players
unique_players_df = sorted_df.drop_duplicates(subset = ["SN"])
unique_players_df
total_unique_players = len(unique_players_df)

#set new index
gender_index_df = unique_players_df.set_index('Gender')

#male count (Total Count: 484, 84.03%)
remove_female_players = gender_index_df.drop(index = 'Female')
remove_other_players = remove_female_players.drop(index = 'Other / Non-Disclosed')
remove_other_players
male_count = len(remove_other_players)
male_count
male_percent = male_count/total_unique_players * 100
male_percent_rounded = np.round(male_percent, decimals = 2)
male_percent_rounded

#female count (Total Count: 81, 14.06%)
remove_male_players = gender_index_df.drop(index = 'Male')
remove_other_players_2 = remove_male_players.drop(index = 'Other / Non-Disclosed')
remove_other_players_2
female_count = len(remove_other_players_2)
female_count
female_percent = female_count/total_unique_players * 100
female_percent_rounded = np.round(female_percent, decimals = 2)
female_percent_rounded

#other (Total Count: 11, 1.91%)
remove_male_players_2 = gender_index_df.drop(index = 'Male')
remove_female_players_2 = remove_male_players_2.drop(index = 'Female')
remove_female_players_2
other_count = len(remove_female_players_2)
other_count
other_percent = other_count/total_unique_players * 100
other_percent_rounded = np.round(other_percent, decimals = 2)
other_percent_rounded

#create summary table
gender_data = {'Total Count':[male_count, female_count, other_count], 
               'Percentage of Players': [male_percent_rounded, female_percent_rounded, other_percent_rounded]}
gender_df = pd.DataFrame(gender_data, index = ['Male', 'Female', 'Other / Non-Disclosed'])


#gender_df['Percentage of Players']= gender_df['Percentage of Players'].map("{:.2%}".format)

gender_df

######format summary table########

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
#set index to gender

gender_index_df_2 = purchase_data.set_index('Gender')
gender_index_df_2

#female (purchase count: 113, Avg price: $3.20, Total purchase: $361.94)
#avg total per person: $4.47
female_purchase_df = gender_index_df_2.drop(labels = ['Male', 'Other / Non-Disclosed'])
female_purchase_count = len(female_purchase_df)
female_purchase_count
female_total_purchase = np.sum(female_purchase_df['Price'])
female_total_purchase
female_avg_price = np.mean(female_purchase_df['Price'])
female_avg_price


#male (purchase count: 652, Avg price: $3.02, Total purchase: $1967.64)
#avg total per person: $4.07
male_purchase_df = gender_index_df_2.drop(labels = ['Female', 'Other / Non-Disclosed'])
male_purchase_count = len(male_purchase_df)
male_purchase_count
male_total_purchase = np.sum(male_purchase_df['Price'])
male_total_purchase
male_avg_price = np.mean(male_purchase_df['Price'])
male_avg_price

#other (purchase count: 15, Avg price: $3.35, Total purchase: $50.19)
#avg total per person: $4.56
other_purchase_df = gender_index_df_2.drop(labels = ['Male', 'Female'])
other_purchase_count = len(other_purchase_df)
other_purchase_count
other_total_purchase = np.sum(other_purchase_df['Price'])
other_total_purchase
other_avg_price = np.mean(other_purchase_df['Price'])
other_avg_price

#summary table
gender_purchase_data = {'Purchase Count':[female_purchase_count, male_purchase_count, other_purchase_count], 
               'Average Purchase Price': [female_avg_price, male_avg_price, other_avg_price],
                       'Total Purchase Value': [female_total_purchase, male_total_purchase, other_total_purchase]}
gender_purchase_df = pd.DataFrame(gender_data, index = ['Female', 'Male', 'Other / Non-Disclosed'])


#### How to find price per person ####

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [127]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
unique_players_df["Age Range"] = pd.cut(unique_players_df["Age"], bins, labels=group_names, include_lowest= True)
purchase_data_grouped = unique_players_df.groupby('Age Range')

purchase_data['Age Range'].value_counts()

/var/folders/tb/284z5t112fdcqbwthgkr8gx40000gp/T/ipykernel_94032/2765065197.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_players_df["Age Range"] = pd.cut(unique_players_df["Age"], bins, labels=group_names, include_lowest= True)

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Range, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame