### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [48]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [49]:
name = purchase_data['SN']
unique_players = name.unique()

players_count = len(unique_players)

players_count_summary = [{'Total Players': players_count}]

players_df = pd.DataFrame(players_count_summary)
players_df

#displaying column names
#purchase_data.columns

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
#unique items (179)
unique_items = purchase_data['Item Name'].unique()
unique_items_count = len(unique_items)
unique_items_count

#average price ($3.05)
price = purchase_data['Price']
average_price = sum(price)/len(price)
average_price_rounded = np.round(average_price, decimals = 2)
average_price_rounded

#number of purchases(780)
number_of_purchases = len(name)

#total revenue ($2379.77)
revenue = sum(price)
revenue_rounded = np.round(revenue, decimals = 2)
revenue_rounded

#create summary table
purchasing_summary = [{'Number of Unique Items': unique_items_count, 
                       'Average Price': average_price_rounded,
                        'Number of Purchases': number_of_purchases,
                        'Total Revenue': revenue_rounded}]

purchasing_df = pd.DataFrame(purchasing_summary)
purchasing_df

#format summary table
purchasing_df['Average Price']= purchasing_df['Average Price'].map("${:,.2f}".format)
purchasing_df['Total Revenue']= purchasing_df['Total Revenue'].map("${:,.2f}".format)
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [78]:
#create df for unique players
sorted_df = purchase_data.sort_values('SN')
unique_players_df = sorted_df.drop_duplicates(subset='SN', keep='first')
unique_players_df




#merged_df = pd.merge(unique_players_df, purchase_data, on='SN')

#merged_df_dropped = merged_df.dropna(how='any')

#merged_df_dropped

#male count (Total Count: 484, 84.03%)

#female count (Total Count: 81, 14.06%)

#other (Total Count: 11, 1.91%)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
630,630,Aelaria33,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...,...
340,340,Yastyriaphos75,22,Male,41,Orbit,4.75
257,257,Yasur35,26,Male,175,Woeful Adamantite Claymore,4.48
514,514,Yasur85,21,Male,21,Souleater,1.10
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
#female (purchase count: 113, Avg price: $3.20, Total purchase: $361.94)
#avg total per person: $4.47

#male (purchase count: 652, Avg price: $3.02, Total purchase: $1967.64)
#avg total per person: $4.07

#other (purchase count: 15, Avg price: $3.35, Total purchase: $50.19)
#avg total per person: $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame